.home-container {
  .input-external {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 0.12rem 0 rgba(212, 212, 212, 0.4);
    border-radius: 0.08rem;
    border: 0.02rem solid;
    border-image: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)) 1 1;
    padding: 0.16rem 0.28rem;

    input {
      flex: 1;
      width: 100px;
      padding-right: 0.04rem;
      border: none;
      color: #313131;
      background: none;
      font-size: 0.24rem;

      &::-webkit-input-placeholder {
        color: #909399;
        font-size: 0.24rem;
      }
    }

  }

  .card-bg {
    padding: 0.24rem 0.32rem;
    background: #FFFFFF;
    box-shadow: 0 0 0.16rem 0 rgba(225, 225, 225, 0.6);
    border-radius: 0.12rem;
    overflow: hidden;

    .card-line {
      width: 100%;
      height: 0.02rem;
      background: #EAEEEC;
    }
    .card-line:last-child{
      display: none;
    }
  }

  .block-card {
    background: #FFFFFF;
    box-shadow: 0.04rem 0.08rem 0.3rem 0 rgba(171, 171, 171, 0.17);
    border-radius: 0.16rem;
    padding: 0.24rem 0.32rem;

    .time{
      width: 4.5rem;
    }
    .btn {
      background: rgba(195, 231, 255, 0.47);
      border-radius: 0.08rem;
      padding: 0.12rem;
    }
  }

  .m-tabs {
    height: 1rem;
    margin-left: -0.48rem;

    .tab {
      padding: 0 0.44rem;
      position: relative;
      font-size: 0.32rem;
      height: 100%;
      line-height: 1rem;

      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0.14rem;
        background: #4BC98F;
        border-radius: 0.08rem;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.4s;
      }

      &.z-cur {
        font-weight: bold;
        font-size: 0.36rem;

        &::after {
          width: 40%;
        }
      }
    }
  }

}
