.not-found{
  font-size: 16px;
  color: #909995;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  img{
    display: block;
    width: 500px;
    margin-bottom: 30px;
  }
}