.table-bar {
  width: 100%;

  &-title {
    font-size: 24px;
    color: #303332;
    font-weight: bold;
    padding-bottom: 16px;
  }

  .transaction-table {
    color: #303332;
    font-size: 16px;
    text-align: right;
    width: 100%;

    .table-header {

      font-weight: bold;
      border-top: none;

      td {
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        font-weight: bold;
        &:first-child {
          text-align: left;
        }

      }
    }

    tr {
      border-top: 1px solid #eaeeec;
      &:not(.table-header){
        &:hover{
          background-color: rgba(232, 237, 241, 0.6);
        }
      }
    }

    td {
      height: 44px;
      line-height: 44px;
      min-width: 162px;
      font-size: 14px;
      &:last-child {
        text-align: right;
      }
      .limit-length{
        max-width: 200px;
      }
      p {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

}