@import '../../../style/_mixin.scss';

// 搜索栏
.m-search-bar {
  width: 100%;
  height: 50px;
  margin: 24px 0;
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px rgba(221,221,221,0.2);

  input {
    outline: none;
    border: none;
    width: 100%;
    color: #909399;
    font-size: 14px;
    font-family: "PingFang";

    &::placeholder {
      color: #909399;
    }
  }
}


// 概览
.m-situation-blocks {
  display: flex;
  justify-content: space-between;

  .bars-4 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    .bar-item {
      width: 386px;
      height: 144px;
      margin-right: 20px;
      margin-bottom: 20px;
      padding: 16px;

      &.no-mb {
        margin-bottom: 0;
      }

      &-title {
        font-size: 16px;
        color: #606266;

        .number {
          color: #313131;
          font-size: 18px;
          font-weight: bold;
        }

        .title-wrapper {
          display: flex;
          align-items: center;
        }

        .title-icon {
          height: 44px;
          margin-right: 8px;
        }

        .fresh-sign {
          width: 88px;
        }
      }

      &-content {
        &.fresh {
          margin-top: 46px;
          font-weight: bold;
          font-size: 18px;
          color: #313131;
        }

        .point {
          margin-top: 16px;
          color: #313131;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.4;

          .point-title {
            font-size: 14px;
            color: #909399;
            margin-bottom: 10px;
            font-weight: lighter;
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          width: 40%;
          margin-top: 18px;

          .wrapper {
            display: flex;
            justify-content: space-between;
            color: #909399;
            font-size: 12px;
            margin-bottom: 15px;

            p {
              display: block;
              color: #50bf8c;
              font-size: 16px;
            }

            .text-red {
              color: #fa454b;
            }
          }
        }

        .content-wrapper {
          line-height: 1.6;

          .left {
            font-size: 14px;
            color: #909399;
          }

          .right {
            font-size: 16px;
            color: #303333;
            font-weight: bold;
          }
        }
      }
    }
  }

  .bars-1 {
    width:388px;
    margin-top: 0%;

    .bars-header {
      align-items: stretch;

      .header-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #909399;
        font-size: 12px;

        img {
          width: 170px;
        }
      }

      .header-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 14px;
        color: #303333;
        // .trend{
        //   padding-left: 6px;
        //   color: #50BF8C;
        //   font-size: 14px;
        //   border-radius: 6px;
        //   background-color: #F3FFF9;

        // }
        // .unit{
        //   font-size: 10px;
        // }
      }
    }

    .banner {
      width: 100%;
      margin-top: 10px;
    }

    .amax-list {
      margin-top: 12px;

      &-item {
        height: 44px;
        font-size: 12px;
        margin-bottom: 18px;
        padding-top: 10px;

        .title {
          margin-bottom: 10px;
        }

        .number-font {
          font-size: 14px;
        }

        .progress {
          height: 10px;
          background: #4BC98F;
          border-radius: 7px;

          &-60 {
            width: 60%;
          }

          &-40 {
            width: 40%;
          }

          &-30 {
            width: 30%;
          }
        }


      }
    }

    .bottom-text {
      margin-top: 18px;
      font-size: 12px;

      .number {
        font-size: 14px;
        font-weight: bold;
        color: #303332;
      }
    }
  }
}


//最新区块
.latest-block {


  &-list {
    &-item {
      height: 50px;
      border-top: 1px solid #EAEEEC;

      .item-title {
        color: #2C2D2F;
        font-size: 16px;
        font-weight: 600;
      }

      .item-time {
        color: #909399;
        font-size: 14px;
      }

      .item-type {
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
        background: rgb(234, 236, 235, 0.4);
        border-radius: 4px;
        color: #666c6c;
        font-size: 12px;
      }

      .item-transaction {
        color: #303333;
        font-size: 14px;

        .text-red {
          color: #1BA03A;
        }
      }
    }
  }
}


//最新交易
.latest-transaction {
  margin-top:24px;

  .table-bar {
    width: 100%;

    &-title {
      font-size: 24px;
      color: #303332;
      font-weight: bold;
      padding-bottom: 16px;
    }

    .transaction-table {
      color: #303332;
      font-size: 16px;
      text-align: right;
      width: 100%;

      .table-header {

        font-weight: bold;
        border-top: 1px solid #eaeeec;

        td {
          height: 50px;
          line-height: 50px;
          font-size: 16px;
          font-weight: bold;
          &:first-child {
            text-align: left;
          }

        }
      }

      tr {
        border-top: 1px solid #eaeeec;
      }

      td {
        height: 44px;
        line-height: 44px;
        min-width: 162px;
        font-size: 14px;
        &:last-child {
          text-align: right;
        }

        p {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

  }



  .chart-bar {
    flex: 1;
    box-shadow: -6px 1px 12px 0px #d6d7dd4d;
    padding: 24px 24px 0 16px;

    &-header {
      font-size: 16px;
      padding-bottom: 16px;
    }

    &-main {
      .title {
        height: 66px;
        line-height: 66px;
        font-size: 20px;
        color: #303332;
        font-weight: bold;
      }

      .progress-list {
        &-item {
          &.l-10{
            @include progress(10%)
          }
          &.l-20{
            @include progress(20%)
          }
          &.l-30{
            @include progress(30%)
          }
          &.l-40{
            @include progress(40%)
          }
          &.l-60{
            @include progress(60%)
          }
          &.l-80{
            @include progress(80%)
          }
          &.l-70{
            @include progress(70%)
          }
        }
      }
      .coordinates{
        display: flex;
        justify-content: space-between;
        color: #909399;
        font-size: 14px;
        margin-top: -10px;
      }
    }
  }
}

// APOS区块
.apos-block{

  .header-right{
    color: #303333;
    font-size: 12px;
    display: flex;
    align-items: center;
    .question-icon{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 8px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid #909399;
      cursor: pointer;
    }
  }
}

//市场动态
.market-dynamic {

  .section-box-header {
    border-bottom: 1px solid #EAEEEC;
  }

  .m-tabs {
    height: 50px;
    margin-left: -24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .tab {
      padding: 0 22px;
      position: relative;
      font-size: 14px;
      height: 100%;
      line-height: 50px;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 0;
        height: 7px;
        background: #4BC98F;
        border-radius: 4px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.4s;
      }

      &.z-cur {
        font-weight: bold;
        font-size:16px;

        &::after {
          width: 40%;
        }
      }
    }
  }

  .chart-list {
    margin-top: 30px;
    &-item {
      .desc {
        font-size: 12px;
        color: #000000;

        .number-font {
          font-size: 22px;
          color: #303332;
          font-weight: bold;
          margin-top: 10px;
        }
      }

      .chart {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin-left: 26px;

        img {
          margin-left: 4px;
          width: 160px;
        }

        .rise-icon-red {
          @include rise-icon(#FA454B)
        }

        .rise-icon-yellow {
          @include rise-icon(#F5B84A)
        }

        .rise-icon-blue {
          @include rise-icon(#5E86FA)
        }

        &.s-red {
          color: #FA454B;
        }

        &.s-yellow {
          color: #F5B84A;
        }

        &.s-blue {
          color: #5E86FA;
        }
      }
    }
  }
}


//最新节点

.producer-list {


  .section-box-header {
    border-bottom: 1px solid #eaeeec;
  }

  &-table {
    width: 100%;

    tr {
      border-bottom: 1px solid #EAEEEC;
    }

    td {
      height: 50px;
      line-height: 50px;
      color: #000000;
      font-size: 14px;

      img {
        display: inline-block;
        vertical-align: middle;
        width: 32px;
      }

      .tag {
        width: 88px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        background: #4BC98F;
        box-shadow: 3px 4px 22px 0px rgba(182, 182, 182, 0.19);
        border-radius: 4px;
        font-size: 12px;
        color: #fff;
      }

      .text-gray {
        color: #7F7F7F;
      }

      .text-orange {
        color: #F55445;
      }

      &:last-child {
        text-align: right;
      }
    }

    &-header {
      color: #303332;
      font-weight: bold;
      font-size: 18px;

      td {
        height: 60px;
        line-height: 60px;
      }
    }
  }
  .page-bottom{
    display: flex;
    justify-content: flex-end;
  }
}

