.transaction-detail{
  .section-box{
    img{
      width: 26px;
      margin-right: 8px;
    }
    .hash{
      width:66%;
      &-bar{
        width: 100%;
        height: 48px;
        background: #F7F9F8;
        border-radius: 8px;
        backdrop-filter: blur(3px);
        user-select: none;
        .copy-tip{
          opacity: 0;
          position: absolute;
          right: -63px;
          font-size: 13px;
          color: #f1275f;
          font-weight: bold;
          transition: all 0.4s;
          &.show{
            transform: translateY(-2px);
            opacity: 1;
          }
        }
        .hash-value{
          padding-left: 16px;
          flex: 1;
          color: #303333;
          font-size: 16px;
          font-weight: bold;
        }
        .btn{
          width: 91px;
          height: 48px;
          background: #EAEEEC;
          border-radius: 4px;
          backdrop-filter: blur(3px);
          font-size: 14px;
          color: #606266;
          cursor: pointer;
        }
      }
    }
    .status{
      width: 220px;
      &-btn{
        width: 100px;
        height: 39px;
        background: #80C8F0;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #FFFFFF;
        &.s-green{
          background: #F89187;

        }
      }
    }
    .transaction-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 32px;
      &-item{
        width: 18%;
        height: 89px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 0px rgba(218,223,221,0.66);
        border-radius: 10px;
        backdrop-filter: blur(3px);
        padding: 16px;
        color: #303333;
        font-size: 18px;
        font-weight: bold;
        .title{
          font-size: 14px;
          color: #606266;
          font-weight: lighter
        }
        &.double{
          width: 38%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .left{
            height: 100%;
            width: 50%;
            position: relative;
            &:after{
              content: "";
              display: inline-block;
              width: 1px;
              height: 57px;
              background: #D8D8D8;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          .right{
            width: 50%;
            height: 100%;
            align-items: flex-end;
          }
        }
      }
    }
  }
  .transaction-tabs{
    margin-left: -16px;
    margin-top: -16px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .tab-item{
      position: relative;
      width: 216px;
      height: 100%;
      background: #FBFBFB;
      color: #606266;
      font-size: 16px;
      transition: all 0.2s;
      cursor: pointer;
      &.active{
        background: #fff;
        color: #303333;
        font-size:18px;
        font-weight: bold;
        &::after{
          content: "";
          height: 2px;
          background: #50BF8C;
          border-radius: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
      img{
        margin-right: 8px;
      }
    }
  }
  .transaction-ct{
    padding-top: 24px;
    font-size: 14px;
    .left{
      flex: 1;
      .m-l-90{
        margin-left: 90px;
      }
      .active-block{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        color: #fff;
        margin-top: 18px;
        .blue{
          width: 150px;
          height: 34px;
          background: #6A6FD7;
          border-radius: 8px;
          z-index: 4;
        }
        .green{
          width: 104px;
          height: 34px;
          background: #8F97B9;
          border-radius: 8px;
          margin-left: -16px;
        }
      }
    }
    .right{
      width: 60%;
      .code-bar{
        background: #F8FCFC;
        margin-top: 15px;
        padding: 16px;
        font-size: 14px;
        line-height: 1.4;
      }
    }
    img{
      width: 16px;
    }
    .s-green{
      color: #50BF8C;
    }
    .original-data{
      padding: 16px;
      background: #F8FCFC;
      color: #606266;
      font-size: 14px;
      white-space: pre-line;
      line-height: 1.2;
    }

  }
}

