//最新节点

.producer-list {
  .section-box-header {
    border-bottom: 1px solid #eaeeec;
  }

  &-table {
    width: 100%;

    tr {
      border-bottom: 1px solid #EAEEEC;
      &:not(.producer-list-table-header){
        &:hover{
          background-color: rgb(232 237 241 / 60%);
        }
      }
    }

    td {
      height: 50px;
      line-height: 50px;
      font-size: 14px;

      img {
        display: inline-block;
        vertical-align: middle;
        width: 32px;
      }

      .tag {
        width: 88px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        background: #4BC98F;
        box-shadow: 3px 4px 22px 0px rgba(182, 182, 182, 0.19);
        border-radius: 4px;
        font-size: 12px;
        color: #fff;
        &.s-blue{
          background: #987DFF;
        }
      }

      .text-gray {
        color: #7F7F7F;
      }

      .text-orange {
        color: #F55445;
      }

      &:last-child {
        text-align: right;
      }
    }

    &-header {
      color: #303332;
      font-weight: bold;
      font-size: 18px;

      // &:hover{
      //   background-color: transparent !important;
      // }
      td {
        height: 60px;
        line-height: 60px;

      }
    }
  }
  .page-bottom{
    display: flex;
    justify-content: flex-end;
  }
}